name: Security audit

on:
  push:
    branches: [ main ]
    paths:
      - 'Cargo.toml'
      - 'precis-*/Cargo.toml'
  pull_request:
    branches: [ main ]
    paths:
      - 'Cargo.toml'
      - 'precis-*/Cargo.toml'
  workflow_dispatch:

jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
